body {
  color: #222;
  background-color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
}
section {
  width: 100%;
  padding: 200px 0;
}
section#header {
  color: #fff;
  background-color: #ff6347;
}
.project {
  background-color: #f1f1f1;
  padding: 20px;
  margin-bottom: 20px;
}
