@import "/prefixes.styl"

easeInOutQuint = cubic-bezier(0.860, 0.000, 0.070, 1.000)

bgColor = white
textColor = #222

themeColor1 = #ff6347

body
  color textColor
  background-color bgColor
  font-family 'Source Sans Pro', sans-serif

#header
  color white
  width 100%
  padding 200px 100px
  background-color themeColor1
