@import "/prefixes.styl"

easeInOutQuint = cubic-bezier(0.860, 0.000, 0.070, 1.000)

bgColor = white
textColor = #222

themeColor1 = #ff6347

body
  color textColor
  background-color bgColor
  font-family 'Source Sans Pro', sans-serif
  -webkit-font-smoothing antialiased

section
  width 100%
  padding 200px 0
  &#header
    color white
    background-color themeColor1

.project
  background-color #f1f1f1
  padding 20px
  margin-bottom 20px
